/* this affects the entire header (including nav bar, heading name, etc) */
body {
    font-family: "Montserrat", sans-serif;
}

.header_one {
    display: flex;
    justify-content: center;
}

/* this affects the heading name */
.heading_name {
    display: flex;
    padding: 20px;
    justify-content: flex-start;
    margin-right: 400px;

    font-size: 40px;
}

/* this effects the navigation bar as a whole*/
.nav_bar {
    display: flex;
    margin: 0;
    justify-content: flex-end;

    list-style-type: none;
}

/* affects the links individually*/
.nav_bar a {
    display: flex;
    padding: 20px;
    stroke-width: 2px;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: space-evenly;
    margin: 5px;
    text-decoration: none;
    font-size: 15px;
}

section.second_layer {
    display: flex;
    padding-top: 10px;
    margin-left: 100px;
    align-items: center;
}

img.pfp {
    border: 2px solid black;
    background-color: gray;
    border-radius: 100px;
    padding: 5px;
    width: 150px;
}

.about_me {
    text-align: center;
    height: 50px;
    padding: 20px;
    padding-bottom: 5px;
    margin-left: 50px;
    margin-right: 75px;
    border: 2px solid black;
    border-radius: 20px;
}

.header_two {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    padding: 10px;
    margin-left: 700px;
    margin-right: 700px;
    font-size: 25px;
    border-radius: 400px;
}

.project_titles {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 40px;
    font-size: 26px;
}

